<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/calculator.js" defer></script>
    <title>Simple Calculator</title>
</head>
<body>
    <div class="container">
    <p id="display"></p><br>
    <button style="width: 110px" class="first-layer">AC</button>
    <button class="first-layer">C</button>  
    <button class="first-layer">DEL</button><br>
    <button class="first-layer">1</button>
    <button class="first-layer">2</button>
    <button class="first-layer">3</button>
    <button class="first-layer">+</button><br>
    <button class="first-layer">4</button>
    <button class="first-layer" >5</button>
    <button class="first-layer" >6</button>
    <button class="first-layer" >-</button><br>
    <button class="first-layer" >7</button>
    <button class="first-layer" >8</button>
    <button class="first-layer" >9</button>
    <button class="first-layer" >*</button><br>
    <button class="first-layer" >0</button>
    <button class="first-layer">•</button>
    <button class="first-layer" >=</button>
    <button class="first-layer" >/</button>
    </div>

    <style>
                body {
                text-align: center;
                margin: auto;
                }

                .container {
                    margin-top: 10%;
                    margin-bottom: 10%;
                    border: solid;
                    border-radius: 3%;
                    width: 250px;
                    display: inline-block;
                    padding: 10px;
                }

                button {
                    height: 50px;
                    width: 50px;
                    margin: 3px;
                }

                #display {
                    border: solid;
                    height: 100px;
                    width: 230px;
                    display: inline-block;
                    font-size: 80px;
                    padding: 0;
                    margin: 0;
                }

                .selected {
                    background-color: darkcyan;
                }

    </style>

</body>
</html>