<% layout('./layouts/template') %>

<link rel="stylesheet" href="../style_homepage.css">
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script  type="text/babel" src="/homepage.js"></script>

<%- include('./partials/navbar') %>

 <div id="root"></div>