<% layout('./layouts/template') %>

<script type="text/javascript" src="/homepage.js"></script>
<link rel="stylesheet" href="../style_homepage.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
            <%- include('./partials/navbar') %>
            <img src="../images/Sendo-removebg-preview.png" class="img-fluid" alt="Sendo"></img>
            <h1>Hi! I'm Sendo.</h1>
            <div class="greetings">
                <p>After several months of working as an engineer, I have realized that my true passion lies in programming.
                    As such, I am eager to transition from engineering and devote myself to learn and grow through programming.
                    I can utilize my experience in technology to enhance learning opportunities. With this, I possess the requisite patience, empathy, and enthusiasm to thrive as a developer. </p>
            </div>
    </div>
    <script>

        let FlashCard = {
            data() {
                return {
                    contents
                }
            }
        }
        Vue.createApp(FlashCard).mount("#app");
    </script>