<% layout('./layouts/template') %>

<script type="text/javascript" src="/homepage.js"></script>
<link rel="stylesheet" href="../style_homepage.css">
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <%- include('./partials/navbar') %>

    <div id="root"></div>
            <!-- <div class="container_body">
                <div>
                    <h1>Hi! I'm Sendo.</h1>
                </div>
                <div class="greetings">
                    <p>After several months of working as an engineer, I have realized that my true passion lies in programming.
                        As such, I am eager to transition from engineering and devote myself to learn and grow through programming.
                        I can utilize my experience in technology to enhance learning opportunities. With this, I possess the requisite patience, empathy, and enthusiasm to thrive as a developer. </p>
                </div>
            </div> -->

            <script type="text/babel">

                function Header(props) {
                    return (
                        <div>
                            <h1>Hi! I'm Sendo</h1>
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <h2 class="d-block w-100">Industrial Engineer</h2>
                                    </div>
                                    <div class="carousel-item">
                                    <h2 class="d-block w-100">Web Developer</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    )
                }

                ReactDOM.render(
                    <Header 
                    title={['WebDev','Industrial Engineer']}/>,
                    document.getElementById('root')
                );
            </script>