    <% layout('./layouts/template') %>

    <link rel="stylesheet" href="/style_record.css">
    <script src="/script_attendance.js" defer></script>

    <div class="banner"></div>
    <div class="content-wrap">
        <img src="../images/img_male.jpg" alt="male_gender">
        <div class="profile-details">
            <h1><%=pangalan1.name%></h1>
            <li>Age: <%=pangalan1.age%></li>
            <li>Location: <%=pangalan1.location%></li>
        </div>
    
                <br>    
                <br>
        <button><a href="/names">BACK</a></button><br>
    </div>