body {
    margin: 0 auto;
    }

    .primary_container {
        display: flex;
        text-align: center;
    }

    .container {
        margin-top: 150;
        margin-bottom: 10%;
        border: solid;
        border-radius: 3%;
        width: 280px;
        display: inline-block;
        padding: 10px;
    }

    .first-layer {
        height: 50px;
        width: 50px;
        margin: 3px;
    }

    #display {
        border: solid;
        height: 100px;
        width: 230px;
        display: inline-block;
        font-size: 80px;
        padding: 0;
        margin: 0;
    }

    .selected {
        background-color: darkcyan;
    }