body {
    background-color: rgba(78, 78, 78, 0.5);
}

.greetings {
    font-size: 75% !important;
    overflow: hidden;
    text-align: justify;
    margin: 0 50;
}

h1 {
    margin: 50 50 0 50 !important;
}

img {
    margin: 0 auto;
    max-width: 600px;
    width: 50%;
    float: left;
}

@media screen and (min-width: 650px) {

    img {
        margin: 0 auto;
        width: 50%;
        float: left;
    }

    .greetings {
        margin: 0 50 !important;
        font-size: 15px !important;
    }

    h1 {
        margin: 50 50 0 50 !important;
    }

}

@media screen and (min-width: 400px) {
    .greetings {
        margin: 0 50 !important;
        font-size: 10px !important;
    }
}